.header-title {
    background: cornsilk;
}
.second-header {
    color: teal;
    font: var(--font-giant) var(--uni-sans-heavy);
}
p {
    font: var(--font-giant) var(--uni-sans-thin-italic);
}
h1 {
    font-family: var(--bebas-neue);
}
h1:matches(:hover) {
    transition: 0.2s;
    cursor: pointer;
    font-size: 3rem;
    color: var(--bright-red);
}
