/*** Header Layout Styles ***/
@import '../../styles/base'

.main-header
	background: --color.black
	height: 110px
	margin-top: -7px
	border-bottom: 1px solid --color.light-gray

.main-logo
	font-large(--font.uni-sans-heavy)
	display: inline-block
	padding: 50px 0 0 35px

	.logo-first
		color: --color.white
		margin-right: 3px
	.logo-second
		color: --color.bright-red

	@media --query.large
		left: 70px

.main-navigation
	display: none

	ul
		display: flex
		width: 50%
		flex-direction: row
		justify-content: center
		list-style: none

	li
		text-align: center
		flex-grow: 1

		a
			font-tiny(--font.open-sans)
			position: relative
			color: --color.white
			transition: 0.3s ease-in-cubic
			letter-spacing: 1px

			.dots-top,
			.dots-bottom
				opacity: 0
				color: --color.bright-red
				z-index: 1
				transition: 0.3s ease-in-cubic

				&::after,
				&::before
					content: "\2022"
					position: absolute
					transition: 0.3s ease-in-cubic

			.dots-top
				&::after
					top: 50px
					left: 50px

				&::before
					top: 50px
					right: 50px

			.dots-bottom
				&::after
					bottom: 50px
					left: 50px

				&::before
					bottom: 50px
					right: 50px

	@media --query.extra-large
		position: relative
		bottom: 46px
		display: flex
		flex-direction: row
		justify-content: center
		text-transform: uppercase

		a
			padding: 50px 50px
			transition: 0.3s ease-out-back

			&:hover
				color: --color.bright-red

				.dots-top,
				.dots-bottom
					opacity: 1

				.dots-top
					&::after
						top: 0
						left: 0

					&::before
						top: 0
						right: 0

				.dots-bottom
					&::after
						bottom: 0
						left: 0

					&::before
						bottom: 0
						right: 0

.main-navicon
	float: right
	cursor: pointer
	color: --color.white
	margin-right: 25px
	position: absolute
	top: 16px
	right: 0
	transition: 0.7s ease-out-cubic
	padding: 15px

	.navicon
		display: inline-block
		position: relative
		background: --color.white
		width: 42px
		height: 5px
		top: 1.5px
		transition: 0.4s

		&::after,
		&::before
			content: ""
			display: inline-block
			position: relative
			background: --color.white
			width: 42px
			height: 5px
			transition: 0.4s ease-in-sine

		&::after
			top: 1px

		&::before
			top: 5px

	&:hover
		background: --color.bright-red

	&.active

		&::after
			opacity: 0