/*** Main Home Styles ***/
@import '../../styles/base'

.main-home
	font-size: 16px
	text-align: center

	h3
		font-size: 30px

	span
		color: blue
		margin-left: 10px
		font-size: 40px

	button
		padding: 20px

	button:not(:last-child)
		margin-right: 30px
		margin-top: 30px