 {
   "parser"  : "babel-eslint",
   "extends" : [
     "airbnb"
   ],
   "ecmaFeatures": {
     "jsx": true
   },
   "plugins" : [
     "react"
   ],
   "env"     : {
     "browser" : true,
     "node"    : true
   },
   "globals" : {
     "__DEVELOPMENT__" : false,
     "__PRODUCTION__"  : false
   },
   "rules" : {
     "semi"            : ["error", "never"],
     "new-cap"         : 0,
     "arrow-body-style": ["error", "always"],
     "brace-style"     : ["error", "stroustrup"]
   }
 }
