/*** Color Palette ***/

--color = {
	bright-red: #fb2740,
	white: #fff,
	black: #181c23,
	light-gray: #2e3138,
	lighter-gray: #a7a8ab,
	dark-gray: #262e3b,
	dark-gray-light: #73777e,
	dark-gray-medium: #575d67,
	strong-red: #d62a3d,
}
