/** Color Variables **/
:root {
  --bright-red: #fb2740;
  --white: #fff;
  --black: #181c23;
  --dark-gray: #262e3b;
  --dark-gray-light: #73777e;
  --dark-gray-medium: #575d67;
  --strong-red: #d62a3d;
}

h2 {
  font-family: var(--uni-sans-thin);
  font-size: 12px;
}