/*** Font Styles ***/

// Font names
--font = {
	open-sans: "OpenSans",
	open-sans-bold: "OpenSansBold",
	bebas-neue: "BebasNeue",
	uni-sans-thin: "UniSansThin",
	uni-sans-heavy: "UniSansHeavy",
	uni-sans-thin-italic: "UniSansThinItalic",
	uni-sans-heavy-italic: "UniSansHeavyItalic",
}

// Pre-defined font sizes
--font-size = {
	tiny: 0.875rem, /* 14px */
	extra-small: 1rem, /* 16px */
	small: 1.125rem, /* 18px */
	medium: 1.25rem, /* 20px */
	large: 1.5rem, /* 24px */
	extra-large: 2rem, /* 32px */
	giant: 3rem, /* 48px */
}

// font declarations
for key, value in --font
	if (value != "OpenSans" && value != "OpenSansBold")
		@font-face
			font-family: value
			src: url("../assets/fonts/" + value + ".otf") format("opentype")
	else if (value == "OpenSans" || value == "OpenSansBold")
		@font-face
			font-family: value
			src: url("../assets/fonts/" + value + ".ttf") format("truetype")

// font mixins
font-custom(--font-family, --font-size = null, --font-weight = normal)
	if (--font-size != null)
		font: --font-weight --font-size --font-family, sans-serif
	else
		font-family: --font-family, sans-serif

font-tiny(--font-family, --font-weight = normal)
	font: --font-weight --font-size.tiny --font-family, sans-serif
	speak: none

font-extra-small(--font-family, --font-weight = normal)
	font: --font-weight --font-size.extra-small --font-family, sans-serif
	speak: none

font-small(--font-family, --font-weight = normal)
	font: --font-weight --font-size.small --font-family, sans-serif
	speak: none

font-medium(--font-family, --font-weight = normal)
	font: --font-weight --font-size.medium --font-family, sans-serif
	speak: none

font-large(--font-family, --font-weight = normal)
	font: --font-weight --font-size.large --font-family, sans-serif
	speak: none

font-extra-large(--font-family, --font-weight = normal)
	font: --font-weight --font-size.extra-large --font-family, sans-serif
	speak: none

font-giant(--font-family, --font-weight = normal)
	font: --font-weight --font-size.giant --font-family, sans-serif
	speak: none
