@import 'layouts/header'

:global
  html
    box-sizing: border-box
  html
  body
    margin: 0
    padding: 0
    height: 100%
  *
  *:before
  *:after
    box-sizing: inherit

  body
    background: cornsilk
    font-family: sans-serif
  img
    height: 70px
