/* Imports */
@import "variables/colors.css";
@import "variables/fonts.css";
@import "typography/typography.css";

/* Default Styles */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
*:matches(::before, ::after) {
  box-sizing: inherit
}
p {
  font: var(--font-giant) var(--uni-sans-thin-italic);
}
h2 {
  font-family: var(--uni-sans-thin);
}
h1 {
  font-family: var(--bebas-neue);
}
h1:matches(:hover) {
  transition: 0.2s;
  cursor: pointer;
  font-family: var(--uni-sans-heavy);
  color: var(--bright-red);
}
