/*** Media Queries ***/

// Custom media query sizes
--query = {
	small: "screen and (min-width: 554px)",
	medium: "screen and (min-width: 768px)",
	large: "screen and (min-width: 992px)",
	extra-large: "screen and (min-width: 1200px)",
}
