/** Color Variables **/

:root {
  --bright-red: #fb2740;
  --white: #ffffff;
  --black: #181c23;
  --dark-gray: #262e3b;
  --dark-gray-light: #73777e;
  --dark-gray-medium: #575d67;
  --strong-red: #d62a3d;
}