/** Fonts **/

@font-face {
  font-family: var(--bebas-neue);
  src: url("../assets/fonts/BebasNeue.otf") format("opentype");
}

@font-face {
  font-family: var(--uni-sans-heavy);
  src: url("../assets/fonts/UniSansHeavy.otf") format("opentype");
}

@font-face {
  font-family: var(--uni-sans-heavy-italic);
  src: url("../assets/fonts/UniSansHeavyItalic.otf") format("opentype");
}

@font-face {
  font-family: var(--uni-sans-thin);
  src: url("../assets/fonts/UniSansThin.otf") format("opentype");
}

@font-face {
  font-family: var(--uni-sans-thin-italic);
  src: url("../assets/fonts/UniSansThinItalic.otf") format("opentype");
}
